# Clar1ty builds gitignore
Clar1tyLoader_Debug.exe
Clar1tyLoader_Release.exe
/dist/
*.log
loader_debug_build.log
loader_debug_build_v2.log
loader_release_build.log
final_build_esp_test.log
final_build_pro_test.log
final_build_esp_test2.log
final_build_pro_test2.log
build.log
